body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);

}
h1{
    color:hsl(255, 57%, 45%)
}
form{
    background: hsl(0, 8%, 100%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
#textBox{
    width: 300px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 80%);
}
label{
    font-size: 1.5em;
    font-weight: bold;
    color: hsl(125, 46%, 58%);
}
button{
    background-color: hsl(0, 67%, 45%);
    color: hsl(0, 0%, 100%);
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 67%, 35%);
}
#result{
    font-size: 1.5em;
    font-weight: bold;
    color: hsl(51, 75%, 50%);
    margin: 20px 0;
}